.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9999; /* Ensure the toolbar is above the map */
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for depth */
}
  
.toolbar .section {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
  
.toolbar .section.center {
    justify-content: center;
}


.right-toolbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 9999;
    background-color: rgba(45, 50, 87, 0.2);
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    right: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.toolbar-top{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    width: 100%;
}

// .toolbar-center{
//     flex-grow: 1;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     align-content: center;
//     align-items: stretch;
//     width: 100%;
// }

.top-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.open-right-toolbar{
    position: absolute;
    font-size: 50px;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.open-top-toolbar {
    position: absolute;
    font-size: 2.25rem;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

// .toolbar-bottom{
//     flex-grow: 1;
//     display: flex;
//     justify-content: end;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     align-content: center;
//     align-items: stretch;
//     width: 100%;
// }

select{
    height: 60px;
    background-color: bisque;
}

button {
    width: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.fullscreen-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7777;
}


button {
    height: 60px;
}

.debug{
    position: absolute;
    bottom:0px;
    width: 77%;
    height: 300px;
    background-color: rgba(45, 50, 87, 0.8);
    z-index: 9999;
}

.debugText{
    width: 100%;
    height: 100%;
    background-color: rgba(45, 50, 87, 0.8);
    font-weight: bold;
}

.place_detail{
    width: 20%;
}

.place_resume {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: stretch;
}

.label_category{
    font-size: small;
    font-weight: bolder;
}

.resume_text{
    font-size: medium;
    font-weight: bold;
}

.photo-container {
    display: flex;
}

.photo-item {
    width: 80%;
    cursor: pointer;
}

.photoView{
    position: absolute;
    top:90px;
    left: 30px;
    width: 96%;
    height: 80%;
    background-color: rgba(11, 27, 18, 0.4); 
    z-index: 8888;
}

.main_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;    
    width: 100%;
    height: 85%;
}

.thumb_photo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;    
    height: 15%;
}



.route-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 75%;
    z-index: 9999;
    background-color: rgba(45, 50, 87, 0.8);
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    right: 250px;
    flex-direction: column;
    flex-wrap: nowrap;
}


.top-info{
    display: flex;
    position: absolute;
    top: 0px;
    width: 80%;
    height: 10%;
    z-index: 9999;
    background-color: rgba(45, 50, 87, 0.8);
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
}

.center-info-left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    font-size: large;
    font-weight: bold;    
    width: 15%;
}
.center-info-right{
    width: 50%;
    align-content: center;
}

.memory-info {
    padding-right: 20px;
    width: 30%;
}

.status{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: left;
    align-items: center;
    width: 10%;
}

.status_icon{
    width: 48px;
}

.status-overflow{
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 9999;
}

.action-button {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;    
}


.youtube-window {
    display: flex;
    position: absolute;
    bottom: 1px;
    width: 563px;
    height: 369px;
    z-index: 9999;
    background-color: rgba(45, 50, 87, 0.1);
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.search-input {
    width: 100%;
    font-size: xx-large;
}

.youtube-input{
    width: 98%;
    background-color: rgba(166, 169, 191, 0.3);
    border-color: white;
    border-style: solid;
    border-width: 2px;
}