<div class="map-container">

    <div class="top-info">
        <div class="memory-info">
            <label #memoryStatus></label>
        </div>
        <div class="center-info-left">
            {{dateTimeDisplay}}
        </div>
        <div class="center-info-right">
            
        </div>
        <div class="status">
            <img #iconWiFi src="assets/wifi-off-outline.svg" class="status_icon">
            <img #iconGps src="assets/compass-outline.svg" class="status_icon">
        </div>

    </div>

    <div class="right-toolbar">
        <div class="top-menu">
            <nb-icon icon="skip-back-outline" style="font-size: 2.25rem;"></nb-icon>
            <nb-icon icon="skip-forward-outline" style="font-size: 2.25rem;"></nb-icon>
        </div>

        <div class="toolbar-top">
            <select (change)="mapSelect($event)" id="mapselect" style="font-weight: bolder;">
                <option>Google</option>
                <option>OSM</option>
                <option>Bing</option>
            </select>
            <select *ngIf="selectedLayer == 'Bing'" 
                    (change)="mapSelect($event)" 
                    [value]="bingStyleMap"
                    id="bingselect"
                    style="font-weight: bolder;">
                <option>RoadOnDemand</option>
                <option>Aerial</option>
                <option>AerialWithLabelsOnDemand</option>
                <option>CanvasDark</option>
                <option>OrdnanceSurvey</option>
            </select>
            <select *ngIf="selectedLayer == 'Google'"
                    (change)="mapSelect($event)" 
                    id="googleselect"
                    style="font-weight: bolder;">
                <option>Hybrid</option>
                <option>Roadmap</option>
                <option>Terrain</option>
                <option>Altered roadmap</option>
                <option>Satellite only</option>
                <option>Terrain only</option>
            </select>
            <button #btnTrack 
                    (click)="updateTrackingStatus()" 
                    style="font-weight: bolder;">Tracking [{{ trackingStatus ? 'ON' : 'OFF' }}]
            </button>
            <button #btnRote (click)="addRoute()" style="font-weight: bolder;">Rote [{{routeToolbar ? 'ON':'OFF'}}]</button>
            <button #btnRadio (click)="playRadio()" style="font-weight: bolder;">Radio [{{radioPlaying ? 'ON' :'OFF'}}]</button>

            <button (click)="fetchPlaces()" style="font-weight: bolder;">Get Camping Here</button>
            <button (click)="fetchCruiser()" style="font-weight: bolder;">Get Cruiser Here</button>
            <button (click)="updatePlaces()" style="font-weight: bolder;">Update Camping Here</button>
            <button (click)="cleanMap()" style="font-weight: bolder;">Clean the Map</button>
            <button (click)="cleanCache()" style="font-weight: bolder;">Clean the Cache</button>
            <button (click)="toggleFullScreenMap()" style="font-weight: bolder;">[[ ]]</button>
            <button #btnDebug (click)="windowDebug()" style="font-weight: bolder;">Debug [{{debugWindow?'ON':'OFF'}}]</button>
        </div>

    </div>

    <div *ngIf="routeToolbar" class="route-toolbar">
        <input #roteFrom type="text" nbInput fullWidth status="basic" placeholder="From">
        <input #roteTo type="text" nbInput fullWidth status="basic" placeholder="To">

        <!-- Path Parameter -> profile * -->
        <select #driveMode style="font-weight: bolder; width: 100%">
            <option>driving-car</option>
            <option>driving-hgv</option>
            <option>cycling-regular</option>
            <option>cycling-road</option>
            <option>cycling-mountain</option>
            <option>cycling-electric</option>
            <option>foot-walk</option>
            <option>foot-hiking</option>
            <option>wheel-chair</option>
        </select>

        <!-- options-> avoid_features -->
        <label>Avoid</label>
        <div>
            <input #avoideToll type="checkbox" id="toll" name="avoideToll">
            <label for="avoideToll">TollCross</label>

            <input #avoideHighway type="checkbox" id="highways" name="avoideHighways">
            <label for="avoideHighways">Highways</label>

            <input #avoideFerrie type="checkbox" id="ferrie" name="avoideFerrie">
            <label for="avoideFerrie">Ferries</label>
        </div>

        <!-- options -> vehicle_type -->
        <select #vehicleType style="font-weight: bolder; width: 100%">
            <option>unknown</option>
            <option>hgv</option>
            <option>bus</option>
            <option>agricultural</option>
            <option>delivery</option>
            <option>forestry</option>
            <option>goods</option>
        </select>

        <label for="roteZoom">Zoom</label>
        <select #roteZoom style="font-weight: bolder; width: 100%">
            <option>22</option>
            <option>21</option>
            <option selected>20</option>
            <option>19</option>
            <option>18</option>
            <option>17</option>
            <option>16</option>
            <option>15</option>
            <option>14</option>
            <option>13</option>
            <option>12</option>
            <option>11</option>
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>

        
        <button nbButton status="basic" (click)="drawRote()">Rote</button>
        <button *ngIf="this.selectedLayer !== 'Bing'" nbButton status="basic" (click)="cacheRote()">Cache Rote</button>
        <button nbButton status="basic" (click)="startDrive()">Start Drive</button>

    </div>

    <div #mapElement class="map"></div>
    
</div>

<div *ngIf="debugWindow" class="debug">
    <textarea #debugText 
              nbInput
              fullWidth 
              placeholder="Full width"
              id="debugText"
              class="debugText">
    </textarea>
</div>

<ng-template #placeWindow>
    <table style="width: 100%;">
        <tr>
            <td class="place_detail">
                <p><label class="label_category">{{place.place_category}}</label></p>
                <div *ngIf="place.verified">
                    <label class="detail_labe">LastUpdate:</label><br/>
                    <label class="detail_text">{{ place.verified | slice:0:10 }}</label><br/>
                    --
                </div>
                <div *ngIf="place.closing_date">
                    <label class="detail_labe">Closing:</label><br/>
                    <label class="detail_text"><b>{{ place.closing_date }}</b></label><br/>
                    --
                </div>
                <div *ngIf="place.parking_price">
                    <label class="detail_labe">Parking $:</label><br/>
                    <label class="detail_text"><b>{{ place.parking_price }}</b></label><br/>
                    --
                </div>
                <div *ngIf="place.service_price">
                    <label class="detail_labe">Service $:</label><br/>
                    <label class="detail_text">{{ place.service_price }}</label><br/>
                    --
                </div>
                <div *ngIf="place.number_places && place.number_places>0">
                    <label class="detail_labe">Places:</label><br/>
                    <label class="detail_text">{{ place.number_places }}</label><br/>
                    --
                </div>
                <div *ngIf="place.height_limit && place.height_limit>0">
                    <label class="detail_labe">Hight:</label><br/>
                    <label class="detail_text">{{ place.height_limit }}</label><br/>
                    --
                </div>
                <div *ngIf="place.water_point && place.water_point>0">
                    <label class="detail_labe">Water:</label><br/>
                    <label class="detail_text">{{ place.water_point }}</label><br/>
                    --
                </div>
                <div *ngIf="place.black_water && place.black_water>0">
                    <label class="detail_labe">Black Water:</label><br/>
                    <label class="detail_text">{{ place.black_water }}</label><br/>
                    --
                </div>
                <div *ngIf="place.public_toilet && place.public_toilet>0">
                    <label class="detail_labe">Toile:</label><br/>
                    <label class="detail_text">{{ place.public_toilet }}</label><br/>
                    --
                </div>
                <div *ngIf="place.shower && place.shower>0">
                    <label class="detail_labe">Shower:</label><br/>
                    <label class="detail_text">{{ place.shower }}</label><br/>
                    --
                </div>
                <div *ngIf="place.electricity && place.electricity>0">
                    <label class="detail_labe">Electricity:</label><br/>
                    <label class="detail_text">{{ place.electricity }}</label><br/>
                    --
                </div>
                <div *ngIf="place.has_wifi && place.has_wifi>0">
                    <label class="detail_labe">Wi-Fi:</label><br/>
                    <label class="detail_text">{{ place.has_wifi }}</label>
                </div>
                
            </td>
            <td class="place_resume">
                <label class="resume_text">{{ place.place_resume }}</label>
                <p>
                    <a href="https://www.google.com/maps?q={{place.place_latitude}},{{place.place_longitude}}" target="_blank" style="text-decoration: none;">
                        <span class="caption-2 text-hint">[{{place.place_latitude}},{{place.place_longitude}}] - {{ place.place_address }}</span>
                    </a>
                </p>
                <a href="{{place.place_link}}" target="_blank">MORE</a>
                <hr>
                <ng-container *ngIf="place.photos && place.photos.length > 0">
                    <div class="photo-container">
                        <div *ngFor="let photoUrl of place.photos">
                            <img src="{{photoUrl.link_thumb}}" (click)="openFullImage(photoUrl.link_large)"
                                class="photo-item">
                        </div>
                    </div>
                </ng-container>
            </td>
        </tr>
    </table>
</ng-template>
<ng-template #placeWindowClose>
    Click escape to close.
</ng-template>

<div #photoView class="photoView">
    <div style="text-align: left;cursor:pointer;margin-left: 40px;margin-top: 5px;" 
         (click)="closePhotos()">X</div>
    <div class="main_photo">
        <img id="main_foto">
    </div>    
    <div class="thumb_photo">
    </div>    
</div>

<div>
    <audio controls #audioPlayer>
      <source src="https://listen-pureradio.sharp-stream.com/pure_radio.mp3?Device=LivePlayer&_=532281&awparams=companionAds%3Atrue&listenerid=8196d2c78a734f244852a3f8bbbecbcb" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
</div>
  